body{
    font-family: 'Poppins', sans-serif;
    background-color: rgba(156, 217, 243, 0.5);
}
h1{
    font-size: 40px;
}
.starting{
    display: flex;
    width: 100%;
    height: 350px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-image: url(images/34.jpeg);
    background-repeat: repeat-x;
    margin-top:  0px;
    margin-bottom: 0px;
    border: 0px;
    background-position-x: center;
    background-position-y: center;

}
.lean-nation{
    text-align: justify;
    margin-left: 880px;
}
.link-button{
    text-decoration: none;
    border: 2px solid rgb(13, 70, 145);
    background-image: linear-gradient(rgb(16, 133, 201),rgb(155, 202, 233));
    padding: 2px 5px;
    border-radius: 20px;
    font-weight: bold;
    color: rgb(5, 26, 66);
}
.half-width{
    padding: 60px;
    width: 50%;
    margin: 15px
}
.half-width img{
    width: 60%;
    margin-left: 10px;
    padding-right: 10px;
}
.felxible-container{
    display: inline-flex;
    
}
.about-us{
    display: flex;
    width: 100%;
    height: 350px;
    padding: 10px;
    background-image: url(images/Frame\ 57.jpg);
    background-repeat: no-repeat;
    margin: 20px;
    border: 0px;
}
.about-us img{
    width: 80%;
    border-left: 10%;
    border-bottom: 100%;
    text-align: center;
}
#picture{
    width: 288px;
    size: 30px;
}
.background-img{
    background: url(images/bgg.png);
    padding: 120px;
    position: fixed;
}
.food-menu{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0px;
    border-top: 0px;
    border-bottom: 0px;
}
.cotainer{
    width: 50%;
}
.wrap{
    width: 1000px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    
}
.card{
    box-shadow: 2px 2px 4px black;
    width: 300px;text-align: center;
    font-size: 16px;
    margin: 20px;
    border-radius: 10px;
    padding-top: 0%;
}
.benefits{
   box-sizing: 200px;
}
.consultation{
     width: 50%;
     padding-left:  2%;
     box-shadow: 5px 6px 10px rgb(13, 13, 94);
     margin-left: 370px;
     padding-bottom: 10px;
     background-image: url(images/bg2.png);
     background-position: center;
     border-radius: 20px;
}
.ending{
    text-align: center;
    margin: 0px;
    border: 1px solid black;
    font-size: 10px;
    background-color: black; 
    width: 100%;
    border:0px;
    
}
#end{
    width: 100%;
    height: 80;
    padding: 1px;
    margin-top: 30px;
    border: 0px;
}



