body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
}
.link-button{
    text-decoration: none;
    border: 2px solid rgb(13, 70, 145);
    background-image: linear-gradient(rgb(16, 133, 201),rgb(155, 202, 233));
    padding: 2px 5px;
    border-radius: 20px;
    font-weight: bold;
    color: rgb(5, 26, 66);
}
.half-width{
    width: 50%;
    margin: 0px 50px;
}
.half-width img{
    width: 60%;
    margin: 1px;
    padding-right: 30%;
    
}
.felxible-container{
    display: inline-flex;
}
.about-us{
    display: flex;
    width: 60%;
    padding: 10px;
    background-image: url(images/Frame\ 57.jpg);
    background-repeat: no-repeat;
    margin: 20px;
    border: 0px;
}
.about-us img{
    width: 80%;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 2px;
}
.background-img{
    background: url(images/bgg.png);
    padding: 120px;
    position: fixed;
}
.food-menu{
    text-align: center;
}